.App {
  text-align: center;
  height: 100vh;
  margin: 0px;
  
}

.app_header {
  max-height: 80px;
  background-color: #748DA6;
  display: flex;
  flex-direction: row;
  margin-bottom: 1px solid #657b91;
}

.app_headerWrapper{
  display: flex;
  flex-direction: row;
}

.app_headerImage{
  max-height: 70px;
  max-width: 60px;
  margin-left: 100px;
  padding: 1px;
}

.cover{
  min-width: 100%;
}

.category{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

h2{
  text-align: left;
}

.new_petList{
  display: flex;
  flex-direction: row;
  align-items: center;
}

